<html>
<head>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body class="vsc-initialized">
    <title> HTML 5 </title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <div class = "row">
        <div class = "column left">
            <div class="topone">
                <img src = "/images/snapenplay-black.jpg" class = "imgtop" alt = "snapenplay">
            </div>
            <div class="midtopone">
                <h1>Upload your image here</h1>
            </div>
            <div class="midbottomone">
                
            <form method="post" action="/upload" enctype="multipart/form-data"name="upload">
                <input type="file" id="upload" accept="image/*" name="upload" style="display: none;" onchange="preview_image(event)"/>
                <div id="holder" style="" class="holder_default">
                    <img src="" id="image_droped" style="border: 3px dashed #7A97FC;" class="hidden imginside">
                </div>
                <button type = "submit" class = "button" value="upload">Make a map</button>
            </form>
            </div>
            <div class="bottomone">
                
            </div>
        </div>
        <div class = "column right">
            <img class="imgside" src = "/images/sample.jpg" alt = "snapenplay">
        </div>
    </div>
    <script >
        $(document).ready(
function() {
  var holder = document.getElementById('holder');
  holder.ondragover = function (e) { e.preventDefault(); return false; };
  holder.ondrop = function (e) {
    this.className = 'hidden';
    e.preventDefault();
    var file = e.dataTransfer.files[0];
    var reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('image_droped').className='visible imginside'
        document.getElementById('upload').className='nodisplay'
        $('#image_droped').attr('src', event.target.result);
    }
    reader.readAsDataURL(file);
  };
});

// let fake = document.querySelector('.holder_default');
// fake.addEventListener('click', function(e) {
//   e.preventDefault();
//   document.getElementById('upload').click();
// });

$('#holder').on('click', function(e) {
  $('#upload').trigger('click');
});
  
function preview_image(event) {
  var reader = new FileReader();
  reader.readAsDataURL(event.target.files[0]);
  reader.onload = function (){
      var output = document.getElementById('image_droped');
      output.src = reader.result;
      console.log("A");
      document.getElementById('holder').className='hover';
      document.getElementById('image_droped').className="visible imginside";
      document.getElementById('upload').className='nodisplay'
  }
  console.log(typeof (reader.result))
}
    </script>
</body>
</html>