<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en-us">

<head>
	<title>Dopetrope by HTML5 UP</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="assets/css/main.css" />
	<meta http-equiv="Content-Type" content="text/html" >
	
	<h1 id="ss">kk</h1>
	<h1 id="aa">kk</h1>
	<link rel="shortcut icon" href="TemplateData/favicon.ico">
	<link rel="stylesheet" href="TemplateData/style.css">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">

			<!-- Logo -->
			<h1><a href="index.html">Snap En Play</a></h1>


			<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Sketch. Snap. Play.</h2>
					<p>Fill your sketches with magic </p>
				</header>
			</section>

			<!-- Intro -->
			<section id="intro" class="container">
				<div class="row" style="height: 1000px;padding-top: 1500px;padding-bottom: 10px;">

					<div id="unity-container" class="unity-desktop" style="display: block;padding-bottom: -50px">
						<canvas id="unity-canvas"></canvas>
						<div id="unity-loading-bar">
							<div id="unity-logo"></div>
							<div id="unity-progress-bar-empty">
								<div id="unity-progress-bar-full"></div>
							</div>
						</div>

						<div id="unity-mobile-warning">
							WebGL builds are not supported on mobile devices.
						</div>
						<div id="unity-footer">
							<div id="unity-webgl-logo"></div>
							<div id="unity-fullscreen-button"></div>
							<div id="unity-build-title">MoveMap</div>
						</div>
						<h1>Your sharable link :</h1>
						<h1 id="url"> </h1>
						<button onclick="myFunction()">Copy text</button>
					</div>

				</div>

			</section>

		</section>



		<!-- Footer -->
		<section id="footer">
			<div class="container">
				<div class="row">
					<ul class="social">
						<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
						<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
						<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
						<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
						<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
					</ul>

					<!-- Copyright -->



				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script>
		function myFunction() {
			/* Get the text field */
			c = document.getElementById("url").innerHTML
			console.log(c)
			const el = document.createElement('textarea');
			el.value = c;
			document.body.appendChild(el);
			el.select();
			el.setSelectionRange(0, 99999);
			document.execCommand('copy');
			document.body.removeChild(el);
			alert("Copied the text");
		}
		var buildUrl = "Build";
		var loaderUrl = buildUrl + "/MoveMap2.loader.js";
		var config = {
			dataUrl: buildUrl + "/MoveMap2.data",
			frameworkUrl: buildUrl + "/MoveMap2.framework.js",
			codeUrl: buildUrl + "/MoveMap2.wasm",
			streamingAssetsUrl: "StreamingAssets",
			companyName: "DefaultCompany",
			productName: "Abra",
			productVersion: "0.1",
		};
		
		var d =<%- JSON.stringify(array ) %>
		console.log(d)
		document.getElementById("ss").innerHTML = d
		var dw =<%- JSON.stringify(url ) %>
		console.log(dw)
		document.getElementById("aa").innerHTML = dw
		
		var container = document.querySelector("#unity-container");
		var canvas = document.querySelector("#unity-canvas");
		var loadingBar = document.querySelector("#unity-loading-bar");
		var progressBarFull = document.querySelector("#unity-progress-bar-full");
		var fullscreenButton = document.querySelector("#unity-fullscreen-button");
		var mobileWarning = document.querySelector("#unity-mobile-warning");

		if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
			container.className = "unity-mobile";
			config.devicePixelRatio = 1;
			mobileWarning.style.display = "block";
			setTimeout(() => {
				mobileWarning.style.display = "none";
			}, 5000);
		} else {
			canvas.style.width = "960px";
			canvas.style.height = "600px";
		}
		loadingBar.style.display = "block";

		var script = document.createElement("script");
		script.src = loaderUrl;
		script.onload = () => {
			createUnityInstance(canvas, config, (progress) => {
				progressBarFull.style.width = 100 * progress + "%";
			}).then((unityInstance) => {
				loadingBar.style.display = "none";
				fullscreenButton.onclick = () => {
					unityInstance.SetFullscreen(1);
				};
				unityInstance.SendMessage('Player', 'createArray', d);//"511111111111111111111111111111111111111111111111111111111111111151111111111111111111111111111111111111111111111111111111111111115111111111111111111111111111111111111111111114554111111111111111111111111111111111111111111111111111111111111154511111111111111111111111111111111111111111111111111111111111115441111111111111111111111111111111111111111111111155555555111111441111111111111111111111111111111111455111555555515555555555555111555555111111111111111111111111111145411555555555555155531125111155555511111111111111111111111111114441155555555555111111115551115551111111111111111111111111111111141155511111111111111111552111252111111111111111111111111111115111115551111111111111111115521555111111111111111111111111111111555555555111111111111111111555555111111111111111111111111111111155555555111111111111111111112252111111111111111111111111111111155111111111111111111111111111111111111111111111111111111111111115511111111111111111111111111111111111111111111111111111111111111551111111111111111111111111111111111111111111111111111111111555555111111111111111111111111111111111111111111111111111111111155535511111111111111111111111111111111111111111111111111111555112211111111111111111111111111111111154411111111111111111111111111221111111111111111111111111111111155541111111111111111111111111122114441111111111111111111111111114441111111111111111111111111112211444111111111111111111111111111411155551111111111111111111111221444411111111111111111111111111111155555555111111111111111111122144441111111144411111111111111555555555555511111111111111111112111111111111114441111111111111555511111155511111111111111111111211111111111111111111111111111555511111115551111111111111111111125555555555551111111111111111555511111111555111111111111111111115555555555555555222222222222555511111111155111111111111111111111555555555555555522221111112255511111111111112111111111111111111155551111115555511111111111111111111111152222511111111111111111111111111111111111111111111111111111111122522221111111111111111111111111111111111111111111111111111115555522222111111111111111111111111111111111111111111111111111115555552222211111111111111111111111111111111111111111111111111111551111111111111111111111111111111111111111111111111111111111111155111111111111111111111111111111111114411111111111111111111111115511111111111111111114441111111111144441111111111111111144411111551111111111111111111444111111111144444111111111111111144441111155111111111111111111144411111111114444411111111111111114444111155511111111111111111114441111111111144441111111111111111144411115551111111111111111155555555511111111111111111111111111155111111555111111111111111115555555555555555555555555555522222155555555555111111111111111111111555555555555555555555551522222225555555555555111111111111111111115555511111111555555555112222222555555555551111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111115555555555555555555555555555555555555555555555555555555555555555");

			}).catch((message) => {
				alert(message);
			});
		};

		document.body.appendChild(script);
		console.log('ll')
	</script>


</body>

</html>